{{- /* Ignore templates that require 1Password when op is unavailable or unresponsive. */ -}}
{{- $opAvailable := eq (trim (output "sh" (print .chezmoi.sourceDir "/.chezmoitemplates/op-available.sh"))) "yes" -}}
{{- if not $opAvailable -}}
.npmrc
{{- end -}}
