registry=https://nexus.nbcnewstools.net/repository/NBCNewsNPMGroup/
//nexus.nbcnewstools.net/repository/NBCNewsNPMGroup/:_auth="{{ onepasswordRead "op://NBCUniversal/Nexus NPM Registry/credential" }}"
